.center {
  margin: auto;
width: 50%;
padding: 10px;
margin-top: 7%;
  height: 24vw;
  width: 79vw;
}

.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10vw;
cursor: pointer;
width: 100%;
height: 100%;
margin-top: 10%;
border-radius: 8px;
}

.reminder {
  padding: 1%;
}